<div class="hospital-footer-section mt-5 pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="text-center text-md-left">
                    <img src="https://res.cloudinary.com/dmnwhjps3/image/upload/v1694544330/Hospital_logo_medical_health_-_Made_with_PosterMyWall_fyqpcw.png" class="hospital-logo" />
                    <h1 class="hospital-logo-section-heading mb-3">Hospital XYZ</h1>
                    <div class="d-flex flex-row justify-content-center justify-content-md-start mb-3">
                        <div class="hospital-footer-section-icon-container">
                            <i class="fa-brands fa-facebook icon"></i>
                        </div>
                        <div class="hospital-footer-section-icon-container">
                            <i class="fa-brands fa-x-twitter icon"></i>
                        </div>
                        <div class="hospital-footer-section-icon-container">
                            <i class="fa-brands fa-youtube icon"></i>
                        </div>
                        <div class="hospital-footer-section-icon-container">
                            <i class="fa-brands fa-instagram icon"></i>
                        </div>
                        <div class="hospital-footer-section-icon-container">
                            <i class="fa-brands fa-linkedin icon"></i>
                        </div>
                    </div>
                    <p class="hospital-footer-section-address">
                        Sector,Colony,City,State- PinCode
                    </p>
                </div>
            </div>
            <div class="col-6 col-lg-3 mt-3">
                <ul class="hospital-footer-section-list">
                    <h1 class="hospital-footer-section-heading mb-3">Hospital XYZ</h1>
                    <p class="hospital-footer-section-address">
                        Sector,Colony,City,State- PinCode
                    </p>
                    <li style="color:blue;" class="hospital-footer-section-list-item">1234567890|Contact Us</li>
                    <li class="hospital-footer-section-list-item">General Information:<span class="blue">1234567890</span></li>
                    <li class="hospital-footer-section-list-item">Request Appointment:<span class="blue">9087654321</span></li>
                </ul>
            </div>
            <div class="col-6 col-lg-3 mt-3">
                <ul class="hospital-footer-section-list">
                    <h1 class="hospital-footer-section-heading mb-3">Centers for Excellence</h1>
                    <li style="color:blue;" class="hospital-footer-section-list-item blue">Cancer Center</li>
                    <li class="hospital-footer-section-list-item blue">Heart And Vascular Center</li>
                    <li class="hospital-footer-section-list-item blue">Lung Center</li>
                    <li class="hospital-footer-section-list-item blue">NeuroScience Center</li>
                    <li class="hospital-footer-section-list-item blue">Orthopedic & Arthiritis Center</li>
                    <li class="hospital-footer-section-list-item blue">Primary Care Center</li>
                    <li class="hospital-footer-section-list-item blue">Women Health Care</li>
                </ul>
            </div>
            <div class="col-6 col-lg-3 mt-3">
                <ul class="hospital-footer-section-list">
                    <h1 class="hospital-footer-section-heading mb-3">Quick Links</h1>
                    <li class="hospital-footer-section-list-item"><a href="">Emergency Scheduling</a></li>
                    <li class="hospital-footer-section-list-item"><a href="">Health Information</a></li>
                    <li class="hospital-footer-section-list-item"><a href="">Symptom Severity</a></li>
                </ul>
            </div>
        </div>
        <hr class="hr-line" />
        <div class="text-center copyright-box">
            <i class="fa fa-copyright icon" aria-hidden="true"></i>
            <span class="hospital-footer-section-copyright">
                2023 Hospital XYZ
            </span>
        </div>
    </div>
</div>
</div>
<script src="{{ url_for('static', filename='hospital.js')}}"></script>
</body>

</html>