
<div class="home-body" id="homeBody">
    <div class="home-body-backimage">
        <div class="home-body-card">
            <h1>Hospital XYZ</h1>
            <p>Helping our patients and their families get back what matters more</p>
            <a href="" style="color:darkblue;">About Hospitals XYZ</a>
            <div class="cards text-center">
                <div class="card-1">
                    <h1 class="home-card-heading">What can we help with ?</h1>
                    <div class="subelement">
                        <h1 class="subheading-card" onclick=onDoctorAvailability()>Find a doctor</h1>
                        <i class="fa-solid fa-caret-right"></i>
                    </div>
                    <div class="subelement">
                        <h1 class="subheading-card">Request Appointment</h1>
                        <i class="fa-solid fa-caret-right"></i>
                    </div>
                    <div class="subelement">
                        <h1 class="subheading-card">Locations</h1>
                        <i class="fa-solid fa-caret-right"></i>
                    </div>
                    <div class="subelement">
                        <h1 class="subheading-card">Services</h1>
                        <i class="fa-solid fa-caret-right"></i>
                    </div>
                    <p style="text-align:left;color:blue;">Insurance,Billing and Payment</p>
                    <p style="text-align:left;color:blue;">Cost Estimates</p>
                    <p style="text-align:left;color:blue;">Patient Gateways</p>
                    <p style="text-align:left;color:blue;">Clinical Trails</p>
                    <p style="text-align:left;color:blue;">International Patterns</p>
                </div>
                <div class="card-2">
                    <img src="https://img.freepik.com/free-photo/medium-shot-scientists-posing-together_23-2148969982.jpg?w=150">
                    <h1 class="subheading-card">Hospital XYZ is name as Indian News Best Hospital</h1>
                    <p>Hospital XYZ is recognized as a top hospital in nation by Indian News and Report for 2023-2024</p>
                    <a href="" class="align-para-card2">Learn more about Ratings</a>
                </div>
                <div class="card-3">
                    <img src="https://www.create-health.com.au/uploads/117/35/blog-what-is-endometriosis.jpg?" class="card3-image">
                    <h1 class="subheading-card">Endometriosis Care:Facing the Missed Disease</h1>
                    <p>Severe period pains could be a sign of endomitroisis - a lifelong condition that happens when tissue similar to those in the uterine lining grows in other places.Dr Louis Perkins,MD,JD,gynecological surgeon,shares more about this condition and How to treat it</p>
                    <a href="" style="color:darkblue;">Learn more about Endometriosis</a>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center" style="background-color:#034694;color:white; padding-right:5vw;padding-left:5vw;padding-top:5vh;padding-bottom:5vh;display:flex;flex-direction:column;align-items:center;">
        <h1 class="text-center body-header" style="text-decoration:underline">CENTERS FOR EXCELLENCE</h1>
        <ul style="list-style-type:none;display:flex;justify-content:center; flex-wrap:wrap">
            <li class="list-type"><a href="#" style="color:white">Cancer Care</a></li>
            <li class="list-type"><a href="#" style="color:white">Neuroscience</a></li>
            <li class="list-type"><a href="#" style="color:white">Heart and Vascular</a></li>
            <li class="list-type"><a href="#" style="color:white">Lung Care</a></li>
            <li class="list-type"><a href="#" style="color:white">Orthopedics</a></li>
            <li class="list-type"><a href="#" style="color:white">Primary Care</a></li>
            <li class="list-type"><a href="#" style="color:white">Women's Health</a></li>
        </ul>
        <button style="background-color:darkblue;color:white;padding:15px;">ALL DEPARTMENTS & SERVICES</button>

    </div>
</div>

