{%include 'header.html' %}

<div id="reschedulepage" class="p-3">
    {%include 'sidebar.html' %}
        <div>
            <h1>Request Rescheduling</h1>
            <hr class="hr-line" />
            <p>If you are new to XYZ hospital or are selecting a new physician,use the form below(or call toll-free 9087654321,Monday-Saturday,9:00am -4:00pm,IST) to request an appointment.Our trained Coordinators provde personalized service in English or your Native Language and will respond within a few minutes.</p>
            <h1 class="p-2" style="font-size:20px;background-color:gold;">Appointment Form (Fields Marked with asterik(*) are required.)</h1>
            <form id="myForm" class="p-3" style="background-color:#FFFFF0;font-weight:bold;">
                <h1 style="font-size:20px;font-weight:bold;">Patient Information</h1>
                <div class="mb-3 form-start">
                    <div style="display:flex;flex-direction:column;width:30vw;padding-left:5px;">
                        <label for="patientid">Patients ID<span style="color:red">*</span></label>
                        <input type="text" id="patientid" />
                        <p id="firstnameErrMsg" class="error-message"></p>
                    </div>
                    
                </div>
                <div class="mb-3 form-start">
                    <div style="display:flex;flex-direction:column;width:30vw;padding-left:5px;">
                        <label for="changevalue">Do you want to change Doctor<span style="color:red;">*</span></label>
                        <select name="changevalue" id="changevalue">
                            <option value="yes">YES</option>
                            <option value="no" selected>NO</option>
                        </select>
                        <p id="phonenumberErrMsg" class="error-message"></p>
                    </div>

                </div>
             
                <div class="mb-3 form-start">
                    <div style="display:flex;flex-direction:column;width:20vw;padding-right:5px;" id="changeappointeddiv">
                        <label for="changedoctor">Change the Doctor appointed<span style="color:red">*</span></label>
                        <input type="text" id="changedoctor" />
                    </div>
                    <div style="display:flex;">
                        <div style="display:flex;flex-direction:column;width:20vw;padding-right:5px;" >
                            <label for="cad">change appointed Date <span style="color:red">*</span></label>
                            <input type="date" id="cad" />
                            <p id="departmentcodeErrMsg" class="error-message"></p>
                        </div>
                        <div style="display:flex;flex-direction:column;width:20vw;padding-right:5px;" >
                            <label for="cat">change appointed  Time <span style="color:red">*</span></label>
                            <input type="time" id="cat" />
                            <p id="departmentcodeErrMsg" class="error-message"></p>
                        </div>
                    </div>
                    
                </div>
                <div style="display:flex">
                    <input type="checkbox" style="padding-left:5px; height:50px; " id="CheckboxId" />
                    <p style="padding-left:5px; font-weight:normal;">The information provided by you on this site is for general purpose only.Your use of this site and your reliance in providing any information on this site is solely at your own risk</p>
                </div>
                <div class="form-button">
                    <button class="btn btn-primary" style="align-self:end;">Reschedule Appointment</button>
                </div>
            </form>
        </div>
</div>

     </div>
</div>

{%include 'footer.html' %}
