<div style="display: flex;">
<div style="width:22vw" class="pr-5">
    <h1>Patients</h1>
    <hr class="hr-line" />
    <p><a href="#">Finding a Doctor</a></p>
    <p><a href="#">New Patient Registration</a></p>
    <p><a href="#" style="color:black;" id="request" onclick="onRequest()">Request Appointment</a></p>
    <p><a href="#">Insurance Accepted, Billing And Payment </a></p>
    <p><a href="#">Preparing for your new Appointment</a></p>
    <p><a href="#">Laboratory and Diagnosis Test</a></p>
    <p><a href="#">Forms and Documents</a></p>
    <p><a href="#">Patient Rights and Expectations</a></p>
    <hr class="hr-line" />
    <p><a href="/view-schedule">View Appointment Schedule</a></p>
    <hr class="hr-line" />
    <p ><a href="/patient-gateway">Patient gateway</a></p>
</div>