<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
</head>
<body>
    <div id="FormContainer">
        <div class="ImgContainer">
    
 
        </div>
        <form id="Form" method="POST" action="/sign-up">
            <h1 id="FormHeading">Sign Up</h1>
            <div class="Name">
                <li><label>First Name:</label>
                    <input type="text" name="firstname" id="firstname">
                </li>
                <li><label>Last Name:</label>
                    <input type="text" name="lastname" id="lastname">
                </li>
            </div>
            <li>
                <label>Email:</label>
                <input type="email" name="email" id="email">
            </li>
            <div class="Details">
                <li>
                    <label>Phone No:</label><input type="pattern" name="phonenumber" id="phonenumber">
                </li>
                <li>
                    <label>Date Of Birth:</label><input type="date" name="dob" id="dob">
                </li>
            </div>
            <div class="password">
                <li><label>Password:</label> <input type="password" name="password" id="password"></li>
                <li><label>Confirm Password:</label> <input type="password" name="current_password" id="current_password"></li>
            </div>
            <li class="Subscribe">
                <div class="CheckBoxCont" onclick="ToggleCheckBox(this)" data-status="true">
                    <div class="tick">
                        <hr class="Tickline1">
                        <hr class="Tickline2">
                    </div>
                </div><label for="subscribe">I want to get updates.</label>
            </li>
            <input type="submit" value="signup"/>
            <h5 style="color: red;">{{msg}}</h5>
        </form>
        
    </div>
    <script src="{{ url_for('static', filename='hospital.js')}}"></script>
</body>
</html>